@font-face {
    font-family: "montserrat-bold";
    src: url(/src/fontes/Montserrat-Bold.ttf) format("truetype");

}
@font-face {
    font-family: "montserrat-medium";
    src: url(/src/fontes/Montserrat-Medium.ttf) format("truetype");

}

:root {
    --dark1:  #192428;
    --dark2:  #2d383c; 
    --dark3:  #414c50;
    --azul1:  #0784b5;
    --azul2:  #39ace7;
    --branco: #ffffff;
}

body {
    background-color: var(--dark1);
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
}

#login {
    background-color: var(--dark3);
    max-width: 400px;
    width: 100%;
    h1 {
        padding: 26px;
        font-family: "montserrat-bold", sans-serif;
        font-size: 36px;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "montserrat-medium", sans-serif;
}

.logsen {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2.5%;
}

.logsen input {  
    padding: 10px;
    font-size: 16px;
}

a {
    color: var(--azul1);
}

button {
    width: 50%;
    padding: 14px;
    margin: 24px;
    color: #ffffff;
    background-color: var(--azul2);
    border: none;
    font-size: 24px;
}

button:hover{
    background-color: var(--azul1);
}